@import "tailwindcss";

/* Set default font to Outfit */
* {
  font-family: var(--font-outfit), sans-serif;
}

/* Optional: Create utility classes for specific font usage */
.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}

.font-ovo {
  font-family: var(--font-ovo), serif;
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

.lightHover {
  color: #fcf4ff;
}

.darkHover {
  color: #2a004a;
}

.darkTheme {
  color: #11001f;
}